div.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5rem;
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
}

div.formData {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem 5rem;
}

div.formData section {
  width: 100%;
  max-width: 30rem;
}

section.section1 {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

h1.title {
  margin: 0;
  color: #20a0fd;
}

p.descripton {
  margin-top: 5px;
  color: #676767;
  font-size: 15px;
}

section.sectionEdit {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

button.empty {
  background: none;
  border: none;
  outline: none;
}

button.empty:hover {
  transform: none;
  box-shadow: none;
}
