div.body {
  position: relative;
}

div.menus {
  position: absolute;
  top: 1.7rem;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  row-gap: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  width: 9rem;
}

div.menus.home {
  top: 2.9rem;
}

a.button {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
}

a.colorized {
  color: #20a0fd;
}
