.navHeader {
  display: flex;
  padding: 30px 0 5rem;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.linksHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.buttonLink {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  background-color: inherit !important;
  text-transform: capitalize !important;
  color: #fafafa !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  cursor: pointer !important;
  transition: all 0.2s;
}

.buttonLink:hover {
  transform: scale(1.05);
}

.colorized,
.colorized:hover {
  color: #20a0fd !important;
}

.tooth {
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
  width: 25px;
}

.tooth:hover {
  transform: scale(1.2);
}

@media (max-width: 800px) {
  .navHeader {
    padding: 2rem 2rem 5rem;
  }
  .linksHeader {
    column-gap: 1rem;
  }
  .header {
    padding: 0;
  }
  .buttonLink {
    font-size: 0.8rem !important;
  }
}
