/* Input container */
.inputContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

/*Input text*/
.inputText {
    border-radius: 60px;
    opacity: 60%;
    border: none;
    max-width: 400px;
    width: 80%;
    height: 28px;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.inputText:focus {
    border: 0 none;
    outline: 0;
    box-shadow: 0 0 0 0;
}