/* Input container */
.inputContainer {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center !important;
    justify-content: center !important;

}


/*Input options*/
.divButton{
    display: flex;
    align-items: end;
    justify-content: end;
}

.tagContainer{
    column-count: 2;

}


/*Botões*/
.adicionar{
    margin-top: 20px;
    margin-left: 60%;
    border-radius: 13.96px;
    height: 30px;
    width: 87px;
    background-color: #95BFDE;
    color: white;
    border: none;
    cursor: pointer;
}
.inputOption {
    border-radius: 60px;
    opacity: 60%;
    border: none;
    max-width: 400px;
    width: 80%;
    height: 28px;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.inputOption:focus {
    border: 0 none;
    outline: 0;
    box-shadow: 0 0 0 0;
}

.close {
    cursor: pointer;
}