div.inputComponent {
  position: relative;
}

div.inputComponent input {
  border: none;
  width: 100%;
  height: 3rem;
  padding: 0 20px;
  border-radius: 5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.02);
}

span.search {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

input.search {
  padding: 0 3.2rem !important;
}

div.inputComponent input:disabled {
  border: none;
  width: 100%;
  height: 3rem;
  padding: 0 20px;
  border-radius: 5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.02);
  background-color: #ececec;
}

span.children {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

div.inputComponent input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
div.inputComponent input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
