/* Input container */
.inputContainer {
    position: relative;
  }
  
  
/*Botões*/
.adicionar{
    margin-top: 20px;
    margin-left: 70%;
    border-radius: 13.96px;
    height: 30px;
    width: 87px;
    background-color: #95BFDE;
    color: white;
    border: none;
    cursor: pointer;
}
.close{
    cursor: pointer;
}
/*Input text*/
.inputText{
  border-radius: 60px;
  opacity: 60%;
  border: none;
  width: 80vw;
  height: 28px;
  padding-left: 20px;
}
/* input search*/

.searchbar {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  z-index: 3;
  height: 44px;
  background: white;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: auto;
  max-width: 224px;
}

.searchbar:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}

.searchbarWrapper {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.searchbarLeft {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.searchIconWrapper {
  margin: auto;
}

.searchIcon {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  line-height: 20px;
  width: 20px;
}

.searchbarIcon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.searchbarCenter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.searchbarInputSpacer {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
  font-size: 16px;
}

.searchbarInput {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, .87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
}

.searchbarRight {
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row
}

.searchbarClearIcon {
  margin-right: 12px
}
