button {
  transition-property: color, background-color, transform, box-shadow;
  transition-duration: 0.2s;
}
button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

button.action {
  font-size: 15px;
  border: none;
  border-radius: 10rem;
  float: right;
  padding: 0.7rem 2rem;
}

button.blue-primary {
  color: #fff;
  background-color: #62a8db;
}
button.blue-primary:hover {
  color: #62a8db;
  background-color: #fff;
}

button.blue-primary-reverse {
  color: #62a8db;
  background-color: #fff;
}

button.delete {
  color: #fff;
  background-color: #ff3e3e;
}
button.delete:hover {
  color: #ff3e3e;
  background-color: #fff;
}

button.red {
  color: #ff3e3e;
}

button.white {
  color: #fff;
}

button.blue {
  color: #62a8db;
}

button.blue-primary.loading {
  background-color: #b7defa;
}
button.red.loading {
  background-color: #ff9090;
}

button.menu {
  font-size: 0.9rem;
}

button.home {
  font-size: 1rem;
}

button.empty,
button.empty:hover {
  border: none;
  background: none;
  transform: none;
  box-shadow: none;
}

button.loading {
  cursor: default;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
  transition: none;
  background-color: #b7defa;
}

button[type="button"].close {
  background: none;
  border: none;
  outline: none;
  height: 15px;
  width: 15px;
}

button[type="button"].add {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 100rem;
  max-width: 10rem;
}

button[type="button"].tabs {
  background-color: #d9d9d9;
  padding: 0.5rem 1rem;
  border-radius: 100rem;
  font-size: 13px;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  border: none;
}

button[type="button"].tabs.active {
  background-color: #20a0fd !important;
  color: #fff;
}

@media (max-width: 300px) {
  button.delete {
    width: 100%;
  }
}
