.inputEdit{
    display: block;
    padding-top: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
}

.label {
    background-color: #95BFDE;
    color: white;
}

.divLabel {
    background-color: #95BFDE;
    display: flex;
    padding: 2px;
    border-radius: 20px;
    justify-content: center;
}