.logo{
    display: flex;
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.form{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.uni{
    padding-top: 20px;

}
.divInputs{
    width: 80vw;
}
.divButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 60px;
}
.confirmar{
    border-radius: 30px;
    padding: 7px;
    width: 150px;
    color: white;
    border: none;
    background-color: #95BFDE;
}