div.main {
  padding: 0 10rem 4rem;
}

div.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 10rem 5rem;
}

img.tooth {
  width: 25px;
}

@media (max-width: 700px) {
  div.header {
    padding: 2rem 2rem 05rem;
  }
  div.main {
    padding: 0 0 4rem;
  }
  div.content {
    padding: 0 2rem;
  }
}
