

.top{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}
.topo{
    display: flex;
    width: 100vw;
    justify-content: end;
    align-items: center;
    padding-top: 20px;
    padding-right: 10px;
}
.divLogo{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.icon{
    width: 30px !important;
    height: 30px !important;
    color: #4EA2CC;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navIcon{
    color: white;
    font-size: 20px;
    cursor: pointer;
}
