/* Estilos Body */
.background {
  background-color: #62a8db;
  border-radius: 0 0 20px 20px;
}

.body {
  padding: 2rem 2rem 10rem;
}

.divScroll {
  min-height: 100vh;
  background-color: #fafafa;
  padding: 7rem 2rem;
}

/* Estilos Logo */
.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.logo img {
  width: 10rem;
}

/* Estilos divContent */

.divContent {
  margin: 5rem auto 0;
  max-width: 30rem;
}

/* Estilos icons */

.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.icon {
  color: white;
  font-size: 20px;
}

/* Estilos title */
.whiteTitle {
  color: white;
  font-size: 27px;
  font-weight: 800;
}

.markedTitle {
  color: #00538f;
}

.scrollTitle h2 {
  color: #676767;
  font-size: 35px;
  font-weight: 600;
}

.scrollTitleSpan {
  color: #20a0fd;
  font-weight: 700;
}

/* Estilos text */

.divText {
  margin-top: 5vh;
}

.text {
  color: white;
  font-size: 15px;
}

/* Estilos buttons */

.divButton {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 1rem;
}

.button {
  text-decoration: none;
  color: #62a8db;
}

.pButton {
  color: white;
  align-content: center;
  margin: 0 10px;
}

/* Estilos divInformations */

.divInformations {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 40px;
}

.divInformations p {
  max-width: 15rem;
  color: #676767;
}

.divInformations h3 {
  font-size: 40px;
  color: #20a0fd;
}

/* Estilos divAboutUs */

.divAboutUs {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  row-gap: 1rem;
}

.divAboutUsTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

.divAboutUs h3 {
  color: #20a0fd;
  font-size: 25px;
}

.divAboutUs p {
  color: #676767;
}

.aboutUsIcon {
  color: #20a0fd;
  font-size: 25px;
}

@media (min-width: 380px) {
  .whiteTitle {
    font-size: 40px;
  }

  .divButton {
    flex-direction: row;
  }

  .pButton {
    margin: 0 20px;
  }
}

@media (min-width: 450px) {
  .logo img {
    width: 150px;
  }

  .text {
    font-size: 14px;
    margin-bottom: 150px;
  }
}

@media (min-width: 600px) {
  .text {
    font-size: 18px;
    margin-bottom: 150px;
  }
}

@media (min-width: 900px) {
  .divInformations {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .divInformations p {
    font-size: 18px;
    max-width: 5rem;
  }

  .divInformations h3 {
    font-size: 25px;
  }

  .divAboutUs p {
    font-size: 18px;
  }
}

@media (min-width: 1080px) {
  .icon {
    color: white;
    font-size: 25px;
  }

  .whiteTitle {
    color: white;
    font-size: 40px;
  }

  .text {
    font-size: 22px;
  }

  .divInformations {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .divInformations p {
    font-size: 18px;
  }

  .divInformations h3 {
    font-size: 30px;
  }

  .aboutUsIcon {
    font-size: 30px;
  }

  .divAboutUs h3 {
    font-size: 22px;
  }

  .divAboutUs p {
    font-size: 20px;
  }
}
