.searchBox {
  display: flex;
 text-align: center;
 justify-content: center;
  padding-top: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
}

.loaderBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
}

.loaderBox * {
  margin-top: 3px;

}

.drops{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.drop{
  padding-bottom: 10px;
  width: 100%;
  padding: 0 70px 10px 70px;
}

.drops h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

.divCondicoes {
  padding: 0 70px 0 70px;
}

.divCondicoes h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color: rgb(59, 62, 65);
}

.name {
  padding: 0 70px 0 70px;
  display: flex;
  justify-content: start !important;
  font-size: 13px;
}

.name h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  color: rgb(59, 62, 65);
}

.divCondicao {
  background-color: #7CC8FF;
  border-radius: 50px;
  text-align: center;
  padding-top: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight:bolder;
}

.containerCondicoes {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
h2{
  padding-top: 20px;
}

.divInvite{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.iconAdd{
  font-size: 100px;
  padding-right: 10px;
  color: #7CC8FF;
}