.searchBox {
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
}

.loaderBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
}

.loaderBox * {
  margin-top: 3px;

}

.drops{
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drop{
  padding-bottom: 10px;  
}

.drops h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

.divCondicoes h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

.divCondicao {
  background-color: #7CC8FF;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight:bolder;
}

.containerCondicoes {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 50px;
}