.search-box {
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
}

.loader-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  flex-direction: column;

}

.loader-box * {
  margin-top: 3px;

}

/*Loader*/