.search-box{
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width:  100%;
    padding-top: 50px;
}
.loader-box{
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

/*Loader*/
.loader {
    display: flex;
    justify-content: center;
  }
  
  .bar {
    width: 7px;
    height: 18px;
    margin: 0 9px;
    border-radius: 10px;
    animation: loading_5192 1s ease-in-out infinite;
    background-color: rgb(145, 176, 226);
  }
  
  .bar:nth-child(1) {
    animation-delay: 0.01s;
  }
  
  .bar:nth-child(2) {
    animation-delay: 0.09s;
  }
  
  .bar:nth-child(3) {
    animation-delay: 0.19s;
  }
  
  .bar:nth-child(4) {
    animation-delay: 0.29s;
  }
  
  @keyframes loading_5192 {
    0% {
      transform: scale(1);
    }
  
    20% {
      transform: scale(1, 2.5);
    }
  
    40% {
      transform: scale(1);
    }
  }
  