div.main {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
}

div.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 5rem;
  flex: 1;
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 7rem;
}

section.section1 {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

h1.title {
  margin: 0;
  color: #20a0fd;
}

p.descripton {
  margin-top: 5px;
  color: #676767;
  font-size: 15px;
}

section.buscarPaciente {
  display: flex;
  flex-direction: column;
  row-gap: 8rem;
  position: relative;
}

form.formSearch {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem 3rem;
  max-width: 60rem;
}

form.formSearch > div:first-child {
  width: 100%;
  max-width: 39rem;
}

div.alert {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translate(-50%, 1rem);
}

@media (max-width: 840px) {
  div.header {
    padding: 0 0 1rem;
  }

  div.main {
    padding: 0;
  }

  div.body {
    padding: 0 2rem 7rem;
  }

  form.formSearch {
    column-gap: 1rem;
  }

  div.alert {
    width: 100%;
    transform: translate(-50%, 3rem);
  }
}

@media (max-width: 300px) {
  div.body {
    padding: 0 1rem 7rem;
  }

  div.alert {
    transform: translate(-50%, 3rem);
  }
}
