.logo {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    margin-bottom: 20px;
    margin-top: 20px;
}

.buttonCreate {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    margin-bottom: 20px;
}

.buttonCrud {
    background-color: white;
    border: none;
    cursor: pointer;

}

.titulo{
    color: #62A8DB;
}

.iconConfirm {
    font-size: 20px !important;
    color: green;
}
.iconNotConfirm {
    font-size: 23px !important;
    color: red;
}

.divTable{
    display: flex;

   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin: 10px;
}
.divTableBottom{
    margin: 0 50px 0 50px;
    width: 80vw;
}
.titulo{
    color: #62A8DB;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}
.rowIcon{
    display: flex;
}
.table{
    width: 100% !important;
}