.container{

}
.container *{
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
    
.btnTextTop {
  background-color: #f5f6fa;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 20px;
  
  height: 42px;
  
  padding-left: 40px;
  padding-right: 60px;
  color: #8795a2;
}
    
.btnBuscarTop {
  width: 20px!important;
  height: 22px;
  background: url(http://www.devmedia.com.br/imagens/2013/buscar_grey.png) no-repeat;
  cursor: pointer!important;
  border: none;
  padding: 0;
  position: relative;
  top: -40px;
  left: 10px;
  transition: 0.5s;
}

.btnBuscarTop:hover {
  transform: scale(1.1);
}